.main-projects-section {
  margin-bottom: 2rem;
}

.main-projects-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.main-projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1.5rem;
}

.main-project-card {
  position: relative;
  background: var(--bg-secondary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 100%;
}

.main-project-base {
  padding: 1rem;
}

.main-project-name {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: #66b2ff;
}

.main-project-description {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.main-project-tech {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.main-tech-item {
  background: var(--bg-primary);
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  font-size: 0.8rem;
}

.main-project-period {
  color: var(--text-primary);
  font-size: 0.8rem;
  margin-left: auto;
  margin-top: auto;
}

.main-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease;
}

.main-project-links {
  display: flex;
  gap: 1rem;
}

.main-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
  transition: transform 0.2s ease;
}

.main-link-item:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.main-link-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1105px) {
  .main-projects-section {
    margin: 2rem;
  }
  
  .main-projects-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
  }
}