@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-section {
  width: 20%;
  min-width: 240px;
  color: var(--text-primary);
  padding: 0 2rem;
  margin-bottom: 5rem;
}

.profile-img-section {
  text-align: center;
  margin-bottom: 1.5rem;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.profile-motto {
  color: var(--text-primary);
  font-size: 1rem;
}

.profile-divider {
  height: 1px;
  background-color: var(--text-secondary);
  margin: 0.5rem 0;
}

.profile-position h4,
.profile-skills h4,
.profile-links h4 {
  font-size: 1.25rem;
  color: var(--text-primary);
  margin-bottom: 0.75rem;
}

.position-text {
  font-size: 1rem;
}

.skills-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.skill-badge {
  background-color: var(bg-secondary);
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.skill-badge:hover {
  animation: shake 0.5s ease-in-out 1;
  transform-origin: center bottom;

}

.skill-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.skill-more {
  color: var(--text-primary);
  padding: 0.5rem;
}

.social-links {
  display: flex;
  gap: 0.75rem;
}

.social-link {
  background-color: white;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

.social-link img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.social-link:hover {
  animation: spin 1s ease-in-out 1;
}

@media (max-width: 1105px) {
  .profile-section {
    width: 100%;
  }
  .profile-divider, .profile-position, .profile-skills, .profile-links {
    display: none;
  }
}