.profile-image-wrapper {
  position: relative;
  display: inline-block;
}

.profile-image {
  position: relative;
  border-radius: 50%;
  border: 0.5px solid darkgray;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1; /* 가로/세로 비율을 1:1로 고정 */
}

/* 사이즈 설정 */
.profile-image-wrapper.sm {
  width: 32px;
  height: 32px;
}

.profile-image-wrapper.lg {
  width: 180px;
  height: 180px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /* 부모 요소에 맞추기 */
  top: 0;
  left: 0;
}

/* Emotion 아이콘 스타일링 */
.emotion-icon {
  position: absolute;
  bottom: 13px;
  right: 0;
  z-index: 10;
}

.emotion-circle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}