.readme-container {
  margin: 2rem 0;
  border: 1px solid darkgray;
  padding: 1.5rem;
  border-radius: 5px;
}

.readme-file-name {
  color: var(text-primary);
  font-size: 0.75rem;
}

.readme-content {
  margin: 0 auto;
  padding: 1.5rem;
  line-height: 2;
  color: var(--text-primary);
}

.readme-content .readme-sentence {
  font-size: 1.1rem;
}

.readme-content .readme-sentence:first-child {
  font-size: 1.5rem;
}

.readme-content .readme-sentence:nth-child(2) {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.readme-content .readme-sentence:last-child {
  margin-top: 1.25rem;
}