/* 기본값 : 다크 모드 */
:root {
  --bg-primary: #0d1117;
  --bg-secondary: #161b22;
  --text-primary: #c9d1d9;
  --text-secondary: #8b949e;
  --toggle-btn-bg: #f5f5f5;
  --toggle-btn-hover: #e5e7eb;

  --border-color: #30363d;
  --accent-color: #58a6ff;
  --hover-color: #1f6feb;
  --nav-active: #238636;
  --count-bg: #238636;
}

:root[data-theme='light'] {
  --bg-primary: #ffffff;
  --bg-secondary: #f6f8fa;
  --text-primary: #24292f;
  --text-secondary: #57606a;
  --toggle-btn-bg: #2d2d2d;
  --toggle-btn-hover: #404040;

  --border-color: #d0d7de;
  --accent-color: #0969da;
  --hover-color: #0969da;
  --nav-active: #0969da;
  --count-bg: #0969da;
}